{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
{% include 'templates/includes/auth-header.html' %}
<body>
	<div class="limiter">
		<div class="container-login100" style="background: linear-gradient(to right, #2980bf, #000, #AC2525)">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <!------------------LOGIN FORM------------------->
				<form class="login100-form validate-form flex-sb flex-w" id="loginForm" data-csrf="{{ csrf_token }}">
                    <span class="login100-form-title p-b-53">Sign In With</span>
                    <div class="d-flex justify-content-center w-100">
                        <a href="#" class="btn-google m-b-20" onclick="submitGoogle()">Google</a>
                    </div>

					<div class="p-t-31 p-b-9">
						<span class="txt1">Username</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="loginUsername" required>
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">Password</span>
						<a href="#" class="txt2 bo1 m-l-5" id="forgotPass">Forgot?</a>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" id="loginPass" required>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" id="loginBtn" type="button">Sign In</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">don't have account yet?</span>
						<a href="#" class="txt2 bo1 changeToRegister">Sign up now</a>
					</div>
				</form>

                <form action="/accounts/google/login/" method="post" id="googleForm">
                    {% csrf_token %}
                </form>

                <script>
                    function submitGoogle(){
                        document.getElementById('googleForm').submit();
                    }
                </script>

                <!-------------------REGISTER FORM---------------------->
                <form class="login100-form validate-form flex-sb flex-w d-none" id="registerForm" data-csrf="{{ csrf_token }}">

					<div class="p-t-31 p-b-9">
						<span class="txt1">Username</span>
                        <small class="text-warning">(You will be known by this name)</small>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="R-Username" required>
						<span class="focus-input100"></span>
					</div>

                    <div class="p-t-31 p-b-9">
						<span class="txt1">Email Address</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="email" id="R-Email" required>
						<span class="focus-input100"></span>
					</div>

                    <div class="p-t-31 p-b-9">
						<span class="txt1">First Name</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="R-FirstName" required>
						<span class="focus-input100"></span>
					</div>

                    <div class="p-t-31 p-b-9">
						<span class="txt1">Last Name</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="R-LastName" required>
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">Password</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" id="R-Pass" required>
						<span class="focus-input100"></span>
					</div>

                    <div class="p-t-13 p-b-9">
						<span class="txt1">Confirm Password</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" id="R-ConfirmPass" required>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" id="registerBtn" type="button">Sign Up</button>
					</div>
					<div class="w-full text-center p-t-55">
						<span class="txt2">already have an account?</span>
						<a href="#" class="txt2 bo1 changeToLogin">Sign in</a>
					</div>
				</form>

                <!-------------------OTP FORM---------------------->
                <form class="login100-form validate-form flex-sb flex-w d-none" id="otpForm" data-csrf="{{ csrf_token }}">

                    <div class="p-t-31 p-b-9">
						<span class="txt1">Code</span>
                        <small class="text-warning">(Check your email and enter the code you receive)</small>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="otpCode" required>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" id="otpBtn" type="button">Submit Code</button>
					</div>
					<div class="w-full text-center p-t-55">
						<span class="txt2">back to login form?</span>
						<a href="#" class="txt2 bo1 OTPtoLogin">Back</a>
					</div>
				</form>

                <!-------------------FORGOT PASSWORD FORM---------------------->
                <form class="login100-form validate-form flex-sb flex-w d-none" id="forgotPassForm" data-csrf="{{ csrf_token }}">
                    <div id="email-section">
                        <div class="p-t-31 p-b-9">
						    <span class="txt1">Email Address</span>
                            <small class="text-warning">(Enter your email address)</small>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" id="forgotPassEmail" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-17">
                            <button class="login100-form-btn" id="submitEmail" type="button">Submit Email</button>
                        </div>
                    </div>

                    <div class="d-none" id="code-section">
                        <div class="p-t-31 p-b-9">
						    <span class="txt1">Code</span>
                            <small class="text-warning">(Check your email and enter the code you receive)</small>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" id="forgotPassCodeInput" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-17">
                            <button class="login100-form-btn" id="submitCode" type="button">Submit Email</button>
                        </div>
                    </div>
                    <div class="w-full text-center p-t-55">
                        <span class="txt2">back to login form?</span>
                        <a href="#" class="txt2 bo1 FPtoLogin">Back</a>
                    </div>
				</form>
			</div>
		</div>
	</div>
</body>
{% include 'templates/includes/auth-footer.html' %}
</html>