{% load static %}

<div class="card-header msg_head">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            {% if room_image %}
                <img src="{{ room_image.url }}" class="rounded-circle user_img" alt="image">
            {% else %}
                <img src="{% static 'chat-icon.png' %}" class="rounded-circle user_img" alt="image">
            {% endif %}
            <span class="online_icon"></span>
        </div>
        <div class="user_info">
            <span>{{ room_name }}</span>
            <p>1767 Messages</p>
        </div>
        <div class="video_cam">
            <span><i class="fas fa-video"></i></span>
            <span><i class="fas fa-phone"></i></span>
        </div>
    </div>
    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
    <div class="action_menu">
        <ul>
            <li><i class="fas fa-user-circle"></i> View profile</li>
            <li><i class="fas fa-users"></i>Change room icon</li>
            <li><i class="fas fa-plus"></i> Add to group</li>
            <li><i class="fas fa-ban"></i> Block</li>
        </ul>
    </div>
</div>

<div class="card-body msg_card_body"></div>

<div class="card-footer">
    <div class="input-group">
        <div class="input-group-append">
            <label for="fileInput" class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></label>
            <input type="file" id="fileInput" name="image"  class="d-none">
        </div>
        <textarea id="chat-message-input" class="form-control type_msg" placeholder="Type your message..."></textarea>
        <div class="input-group-append">
            <span id="chat-message-submit" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
        </div>
    </div>
</div>
{{ room_name|json_script:"room-name" }}
<script>
    let roomName = JSON.parse(document.getElementById('room-name').textContent);
    let username = {{ username }};
    let messageBody = document.querySelector('.msg_card_body');

    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    $(document).ready(function () {
        $('#action_menu_btn').click(function () {
            $('.action_menu').toggle();
        });
    });
</script>
