{% extends 'templates/base.html' %}
{% load static %}
{% block main %}
    <div class="col-md-8 col-xl-6 chat">
        <div class="text-center mb-3">
            <a href="{% url 'chat:lobby' %}" class="btn badge-secondary">Back to lobby</a>
        </div>
        <div class="card" id="conversation">
            <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        {% if chat_model.room_image %}
                            <img src="{{ chat_model.room_image.url }}" class="rounded-circle user_img" alt="image">
                        {% else %}
                            <img src="{% static 'chat-icon.png' %}" class="rounded-circle user_img" alt="image">
                        {% endif %}
                    </div>
                    <div class="user_info">
                        <span>{{ room_name }}</span>
                        {% with memberNum=chat_model.members.count %}
                            {% if memberNum > 1 %}
                                <p>{{ memberNum }} Members</p>
                            {% else %}
                                <p>{{ memberNum }} Member</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="video_cam">
                        <a href="{% url 'video_call' chat_model.slug %}">
                            <span>
                                <i class="fas fa-video"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                <div class="action_menu">
                    <ul>
                        <li>
                            <label for="iconInput" style="cursor: pointer">
                                <i class="fas fa-image"></i>Change room icon
                            </label>
                            <input type="file" id="iconInput" name="image" class="d-none">
                        </li>
                        <li onclick="membersList()">
                            <i class="fas fa-users"></i>
                            Members list
                        </li>
                        {% if request.user == chat_model.creator %}
                            <li onclick="clearHistory()">
                                <i class="fas fa-history"></i>
                                Clear history
                            </li>
                            <li onclick="removeRoom('{{ chat_model.creator.username }}')">
                                <i class="fas fa-trash"></i>
                                Delete room
                            </li>
                        {% else %}
                            <li onclick="removeRoom('{{ chat_model.creator.username }}')">
                                <i class="fas fa-minus-circle"></i>
                                Left room
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="card-body msg_card_body">
                {% if message_model %}
                    {% for message in message_model %}
                        {% if message.author.username == request.user.username %}
                            {% if message.content %}
                                <div class="d-flex justify-content-end mb-4">
                                    <span class="msg_time_send">{{ message.created_at|date:"Y/n/j - H:i" }}</span>
                                    <div class="msg_cotainer_send">{{ message.content }}</div>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-end mb-4">
                                    <span class="msg_time_send">{{ message.created_at|date:"Y/n/j - H:i" }}</span>
                                    <div class="msg_cotainer_send_img">
                                        <img src="{{ message.image.url }}" alt="image"
                                             style="width: 130px; border-radius: 50%">
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if message.content %}
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="msg_cotainer">{{ message.content }}</div>
                                    <span class="msg_time">{{ message.created_at|date:"Y/n/j - H:i" }}</span>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="msg_cotainer_img">
                                        <img src="{{ message.image.url }}" alt="image"
                                             style="width: 130px; border-radius: 50%">
                                    </div>
                                    <span class="msg_time">{{ message.created_at|date:"Y/n/j - H:i" }}</span>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="card-footer">
                <div class="input-group">
                    <div class="input-group-append">
                        <label for="fileInput" class="input-group-text attach_btn">
                            <i class="fas fa-paperclip"></i></label>
                        <input type="file" id="fileInput" name="image" class="d-none">
                    </div>
                    <textarea id="chat-message-input" class="form-control type_msg"
                              placeholder="Type your message..."></textarea>
                    <div class="input-group-append">
                    <span id="chat-message-submit" class="input-group-text send_btn">
                        <i class="fas fa-location-arrow"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="userList-modal-parent">
        <div class="userList-modal">
            <ul class="my-3">
                {% for member in chat_model.members.all %}
                    <li class="py-3 d-flex justify-content-around {{ member.username }}">
                        <span>Name : {{ member.first_name }} {{ member.last_name }}</span>
                        <span>Username : {{ member.username }}</span>
                    </li>
                {% endfor %}
            </ul>
            <span class="X text-danger" onclick="closeMemberList()">&times;</span>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}

    <script>
        let roomName = JSON.parse(document.getElementById('room-name').textContent);
        let username = {{ username }};
        let messageBody = document.querySelector('.msg_card_body');
        let attachBtn = document.getElementById('fileInput');
        attachBtn.addEventListener('change', readFile);
        let changeIconInput = document.getElementById('iconInput');
        changeIconInput.addEventListener('change', readFile)
        let userListModalParent = document.querySelector('.userList-modal-parent');
        let chatSection = document.querySelector('.chat');

        let ws_scheme = window.location.protocol === 'https:' ? 'wss' : 'ws';
        const chatSocket = new ReconnectingWebSocket(
            ws_scheme
            +'://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        const chatSocket2 = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + 'listener'
            + '/'
        );

        chatSocket2.onmessage = function (e) {
            let data = JSON.parse(e.data)
            for (let user of data['members_list']) {
                if (user === username) {
                    if (data['__str__'] !== username) {
                        if (data['room_name'] !== roomName) {
                            if (!('Notification' in window)) {
                                alert('This browser does not support Notification')
                            }
                            else if (Notification.permission === 'granted') {
                                new Notification(`${data['__str__']} has sent new ${data['content']} in ${data['room_name']}`)
                            }
                            else if (Notification.permission === 'denied' || Notification.permission === 'default') {
                                Notification.requestPermission().then(function (status) {
                                    if (status === 'granted') {
                                        new Notification(`${data['__str__']} has sent new ${data['content']} in ${data['room_name']}`)
                                    }
                                })
                            }
                        }
                    }
                }
            }
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data['command'] === 'new_message' || data['command'] === 'image') {
                createMessage(data)
            } else if (data['command'] === 'info') {
                infoMessage(data)
            } else if (data['command'] === 'change_icon') {
                changeIcon(data)
            } else if (data['command'] === 'clear_history') {
                clearHistory(true)
            }
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };


        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
            }
        };


        function readFile() {
            if (this.files && this.files[0]) {
                let FR = new FileReader();
                FR.addEventListener('load', event => {
                    if (this.id === 'fileInput') {
                        chatSocket.send(JSON.stringify({
                            'image': event.target.result,
                            'command': 'new_message',
                            'username': username,
                            'roomName': roomName,
                        }));
                    } else if (this.id === 'iconInput') {
                        chatSocket.send(JSON.stringify({
                            'image': event.target.result,
                            'command': 'change_icon',
                            'username': username,
                            'roomName': roomName,
                        }));
                    }
                })
                FR.readAsDataURL(this.files[0])
            }
        }


        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message) {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'command': 'new_message',
                    'username': username,
                    'roomName': roomName,
                }));
                messageInputDom.value = '';
            }
        };


        function createMessage(data) {
            let command = data['command'];
            let author = data['__str__'];
            let content = data['content'];
            let createDate = new Date(data['created_at']);
            let date = createDate.getDate();
            let month = createDate.getMonth() + 1;
            let year = createDate.getFullYear();
            let hour = createDate.getHours();
            let min = createDate.getMinutes();
            let dateFormat = `${year}/${month}/${date} - ${hour}:${min}`;
            if (author === username) {
                if (command === 'image') {
                    messageBody.insertAdjacentHTML('beforeend',
                        `<div class="d-flex justify-content-end mb-4">
                        <span class="msg_time_send">${dateFormat}</span>
                        <div class="msg_cotainer_send_img">
                            <img src="${content}" alt="image" style="width: 130px; border-radius: 50%">
                        </div>
                    </div>`
                    )
                } else {
                    messageBody.insertAdjacentHTML('beforeend',
                        `<div class="d-flex justify-content-end mb-4">
                        <span class="msg_time_send">${dateFormat}</span>
                        <div class="msg_cotainer_send">
                            ${content}
                        </div>
                   </div>`
                    )
                }

            } else {
                if (command === 'image') {
                    messageBody.insertAdjacentHTML('beforeend',
                        `<div class="d-flex justify-content-start mb-4">
                        <div class="msg_cotainer_img">
                            <img src="${content}" alt="image" style="width: 130px; border-radius: 50%">
                        </div>
                        <span class="msg_time">${dateFormat}</span>
                   </div>`
                    )
                } else {
                    messageBody.insertAdjacentHTML('beforeend',
                        `<div class="d-flex justify-content-start mb-4">
                        <div class="msg_cotainer">
                            ${content}
                        </div>
                        <span class="msg_time">${dateFormat}</span>
                   </div>`
                    )
                }
            }
        }

        function infoMessage(data) {
            let dataType = data['content']['type'];
            let message = data['content']['message'];
            if (dataType === 'delete') {
                Swal.fire({
                    text: 'This room deleted by the creator',
                    confirmButtonColor: '#3085d6',
                }).then(() => {
                    window.location.replace('{% url "chat:lobby" %}')
                })
            } else {
                messageBody.insertAdjacentHTML('beforeend',
                    `<div class="d-flex justify-content-center mb-4" style="background-color: #575757">
                        <div class="msg_cotainer_info">
                            ${message}
                        </div>
                    </div>`
                )
            }
            if (dataType === 'join'){
                let userList = document.querySelector('.userList-modal ul');
                let userName = data['content']['username'];
                let firstName = data['content']['first_name'];
                let lastName = data['content']['last_name'];
                userList.insertAdjacentHTML('beforeend',
                    `<li class="py-3 d-flex justify-content-around ${userName}">
                        <span>Name : ${firstName} ${lastName}</span>
                        <span>Username : ${userName}</span>
                    </li>`
                )
            } else if (dataType === 'left') {
                let userList = document.querySelector('.userList-modal ul');
                let userName = data['content']['username'];
                let userItem = userList.querySelector(`.${userName}`);
                userList.removeChild(userItem);
            }
        }

        function changeIcon(data) {
            let newIcon = data['content']
            let oldIcon = document.querySelector('.img_cont .user_img');
            oldIcon.src = newIcon;
        }

        function removeRoom(roomCreator) {
            let text;
            if (roomCreator === username) {
                text = `Do you want to delete ${roomName} room ?`
            } else {
                text = `Do you want to exit ${roomName} room ?`;
            }
            Swal.fire({
                title: 'Are you sure ?',
                text: text,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Exit!',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '{% url "chat:remove-room" %}',
                        data: {
                            'room_name': roomName
                        },
                        success: function (response) {
                            if (response.status === 200) {
                                window.location.replace("{% url 'chat:lobby' %}")
                            } else if (response.status === 400) {
                                Swal.fire({
                                    text: 'Somethon went Wrong, try again!',
                                    confirmButtonColor: '#3085d6',
                                });
                            }
                        },
                        error: function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: error.code,
                                text: 'Service encountered an error. Please try again. If the error is not resolved, contact support',
                                confirmButtonColor: '#3085d6',
                            });
                            console.log(error)
                        }
                    })
                }
            })
        }

        function clearHistory(isCleared) {
            if (isCleared === true) {
                messageBody.innerHTML = '';
            } else {
                Swal.fire({
                    title: 'Are you sure ?',
                    text: 'Do you want to delete all the messages ?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        chatSocket.send(JSON.stringify({
                            'command': 'clear_history',
                            'roomName': roomName,
                        }));
                    }
                })
            }
        }

        function membersList() {
            userListModalParent.style.display = 'block'
            chatSection.style.filter = 'blur(10px)'
        }

        function closeMemberList() {
            userListModalParent.style.display = 'none';
            chatSection.style.filter = 'blur(0px)';
        }

        $(document).ready(function () {
            $('#action_menu_btn').click(function () {
                $('.action_menu').toggle();
            });
        });
    </script>
{% endblock %}

