{% load static %}

<head>
	<title>Login V5</title>
<!--===============================================================================================-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static '/auth/images/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'auth/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'auth/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'auth/css/main.css' %}">
<!--===============================================================================================-->
</head>